@charset "utf-8";

/* 팝업 */
.popup {
    position: fixed;
    width: 450px;
    height: 606px;
    left: 60%;
    top: 15%;
    z-index: 9999999999;
}
.popup img {
    vertical-align: middle;
}
.popup p {
    padding: 10px;
    text-align: right;
    background: #000;
    font-size: 1.6rem;
    color: #fff;
    cursor: pointer;
}

/* 메인 */
.main {
    width: 100%;
    height: 820px;
    position: relative;
    overflow: hidden;
}
.main #videoBg {
    position: absolute;
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    z-index: -100;
}
.main .txt_box {
    position: absolute;
    top: 350px;
    left: 350px;
    text-shadow: 3px 3px 3px #000;
}
.main .txt_box h1 {
    color: #fff;
    font-size: 6rem;
}
.main .txt_box p {
    color: #fff;
    font-size: 2.8rem;
    margin-top: 10px;
}

.content {
    width: 100%;
}
.content .category_wrap {
    width: 1400px;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.category_wrap a.category {
    overflow: hidden;
}
.category_wrap a.category > img {
    float: left;
    margin-right: 20px;
}
.category_wrap a.category > .tit {
    float: left;
    margin-top: 70px;
    font-size: 2.2rem;
}

.tit::after {
    content: '';
    display: block;
    width: 40px;
    height: 3px;
    background: #008944;
    margin-top: 5px;
    transition: all .2s;
}
a.category:hover .tit::after {
    width: 80px;
}

.content .notice_wrap {
    width: 100%;
    background: #008944;
}
.notice_wrap .notice {
    width: 1400px;
    margin: 0 auto;
    overflow: hidden;
}
.notice a {
    color: #fff;
}
.notice h2 {
    font-size: 1.8rem;
}
.notice p {
    margin-left: 20px;
    font-size: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.notice .notice1 {
    float: left;
    width: 700px;
    padding: 20px;
    border-right: 1px solid #00ab55;
}
.notice .notice2 {
    float: left;
    width: 700px;
    padding: 20px;
}
.notice .notice1 a {
    display: inline-flex;
}
.notice .notice2 a {
    display: inline-flex;
}

.content .brand_bg {
    width: 100%;
    position: relative;
    background: url('../images/product1.png') no-repeat 90% 80% rgba(244, 133, 67, 1);
}
.brand_bg .brand_wrap > h1 {
    color: #fff;
    padding-top: 20px;
}
.brand_wrap > .tit::after {
    background: #fff;
}

.brand_wrap {
    width: 1400px;
    margin: 0 auto;
    padding-bottom: 20px;
}
.brand_box {
    margin-top: 50px;
}
.brand_box .brand {
    overflow: hidden;
}
.brand_box .brand > img {
    display: inline-block;
    width: 150px;
}
.brand > img {
    float: left;
}
.brand .brand_intro {
    float: left;
    width: 700px;
    margin-left: 80px;
}
.brand_intro > h2 {
    font-size: 1.6rem;
    color: #fff;
    margin-bottom: 10px;
}
.brand_intro > p {
    font-size: 1.4rem;
    word-break: keep-all;
    color: #fff;
    line-height: 2rem;
}
.brand_intro > p:last-of-type {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.btn {
    width: 80px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #fff;
    margin-top: 20px;
}
.btn a {
    display: block;
    text-align: center;
    font-size: 1.6rem;
    color: #fff;
}

.content .health_wrap {
    width: 1400px;
    margin: 60px auto;
}
.health_wrap > .tit > span {
    font-size: 1.5rem;
    color: #0074aa;
}

.health_wrap .health {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.health .book {
    margin-right: 20px; 
    margin-top: 40px;
    text-align: center;
}
.health .book > a {
    font-size: 1.5rem;
}
.health .book img {
    width: 200px;
    border: 1px solid #ddd;
}
.book:hover img {
    border: 2px solid #008944;
}

.yuilhan_wrap {
    width: 100%;
    padding-top: 40px;
    background: #ebedf2;
}
.yuilhan {
    width: 1400px;
    height: 350px;
    margin: 0 auto;
    position: relative;
    background: url('../images/dr_yu.gif') no-repeat 90%;
    background-size: contain;
}
.yuilhan .analects {
    position: absolute;
    top: 100px;
    left: 50px;
}
.analects > .btn {
    bottom: 40px;
    left: 50px;
    width: 120px;
    border: 1px solid #000;
}
.analects > .btn a {
    color:#000;
}
.analects > p {
    font-size: 1.8rem;
}
.analects > h1 {
    font-size: 2.4rem;
    margin-top: 10px;
}
.analects > p:last-of-type {
    font-size: 1.4rem;
}

@media screen and (max-width: 1440px) {
    .content .category_wrap {
        width: 70%;
    }

    .notice_wrap .notice {
        width: 100%;
    }
    .notice .notice1, .notice .notice2 {
        width: 50%;
    }

    .brand_bg {
        position: relative;
    }
    .brand_bg::before {
        content: "";
        opacity: .3;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #000;
    }
    .brand_wrap {
        width: 90%;
    }
    .brand_wrap > .tit {
        position: relative;
        z-index: 1;
    }
    .brand .brand_intro {
        width: 50%;
        margin-left: 5%;
        text-shadow: 1px 1px 1px #000;
    }
    .content .health_wrap {
        width: 90%;
    }

    .yuilhan_wrap .yuilhan {
        width: 90%;
    }
}

@media screen and (max-width: 1280px) {
    .popup {
        display: none;
    }
    
    .main {
        height: 720px;
    }    
    .main .txt_box {
        position: static;
        text-align: center;
        margin-top: 300px;
    }

    .notice_wrap .notice{
        display: block;
        text-align: center;
    }
    .notice .notice1 {
        width: 100%;
        border-right: 0;
        border-bottom: 1px solid #00ab55;
    }
    .notice .notice2 {
        width: 100%;
    }
    .yuilhan_wrap .yuilhan {
        background-image: none;
    }    
}

@media screen and (max-width: 1023px) {
    .content .category_wrap {
        justify-content: center;
    }

    .brand_nine > .brand_intro > p:nth-of-type(n+4) {
        display: none;
    }
    .brand_nine > .brand_intro > p:nth-of-type(3) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .health .book {
        flex: 1 1 0;
    }    
}

@media screen and (max-width: 639px) {
    .content .category_wrap {
        margin: 30px auto;
    }
    .category_wrap a.category {
        margin: 20px 0;
    }
    .category_wrap a.category > img {
        float: none;
        margin-right: 0;
    }
    .category_wrap a.category > .tit {
        float: none;
        text-align: center;
        margin-top: 20px;
        font-size: 2.2rem;
    }
    a.category .tit::after {
        margin: 10px auto;
    }

    .notice p {
        width: 300px;
    }
}

@media screen and (max-width: 479px) {
    .main {
        height: 620px;
    }    
    .main .txt_box h1 {
        font-size: 4.6rem;
    }
    .main .txt_box p {
        font-size: 2rem;
    }

    .notice h2 {
        font-size: 1.5rem;
    }
    .notice p {
        max-width: 200px;
        margin-left: 20px;
        font-size: 1.3rem;
    }
    
    .brand .brand_intro {
        float: none;
        display: inline-block;
        margin-top: 20px;
        width: 90%;
        margin-left: 0;
    }

    .yuilhan .analects {
        position: static;
        margin-top: 40px;
    }
    .analects > p {
        font-size: 1.6rem;
    }
    .analects > h1 {
        font-size: 2rem;
    }
    .analects > p:last-of-type {
        font-size: 1.2rem;
    }    
}
