@charset "utf-8";

.main {
    height: 820px;
    position: relative;
    overflow: hidden;
}
.main #videoBg {
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    z-index: -100;
}
.main .txt_box {
    position: absolute;
    top: 350px;
    left: 350px;
    text-shadow: 3px 3px 3px #000;
}
.main .txt_box h1 {
    color: #fff;
    font-size: 6rem;
}
.main .txt_box p {
    color: #fff;
    font-size: 2.8rem;
    margin-top: 10px;
}

.content {
    width: 100%;
}
.content .category_wrap {
    width: 1400px;
    margin: 60px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.category_wrap .category a {
    display: flex;
}
.category_wrap .category > a > img {
    margin-right: 20px;
}
.category_wrap .category > a > .tit {
    align-self: center;
    font-size: 2.2rem;
}

.tit::after {
    content: '';
    display: block;
    width: 40px;
    height: 3px;
    background: #008944;
    margin-top: 5px;
}

.content .notice_wrap {
    width: 100%;
    background: #008944;
}
.notice_wrap .notice {
    width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.notice a {
    color: #fff;
}
.notice h1 {
    font-size: 1.8rem;
}
.notice p {
    margin-left: 20px;
    font-size: 1.5rem;
}
.notice .notice1 a {
    display: inline-flex;
    width: 700px;
    padding: 20px;
    border-right: 1px solid #00ab55;
}
.notice .notice2 a {
    display: inline-flex;
    width: 700px;
    padding: 20px;
}

.content .brand_wrap {
    width: 100%;
    height: 300px;
    position: relative;
    background: url('../images/product1.png') no-repeat 90% 90% rgba(244, 133, 67, 1);
}
.brand_wrap > h1 {
    color: #fff;
    margin-left: 260px;
    padding-top: 20px;
}
.brand_wrap > .tit::after {
    background: #fff;
}

.brand_wrap .brand_box {
    width: 1400px;
    margin: 50px auto 0 auto;
    display: flex;
}
.brand_box .brand {
    overflow: hidden;
    margin-top: 10px;
}
.brand_box .brand > img {
    width: 150px;
}
.brand > img {
    float: left;
}
.brand .brand_intro {
    float: left;
    width: 600px;
    margin-left: 80px;
}
.brand_intro > h2 {
    font-size: 1.6rem;
    color: #fff;
}
.brand_intro > p {
    margin-top: 10px;
    font-size: 1.4rem;
    line-height: 2rem;
    word-break: keep-all;
    color: #fff;
}
.btn {
    position: absolute;
    bottom: 0;
    width: 80px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #fff;
}
.btn a {
    display: block;
    text-align: center;
    font-size: 1.6rem;
    color: #fff;
}

.content .health_wrap {
    width: 1400px;
    margin: 60px auto;
}
.health_wrap > .tit > p {
    display: inline-block;
    font-size: 1.4rem;
    color: #0074aa;
}

.health_wrap .health {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.health .book {
    margin-right: 20px; 
    margin-top: 40px;
}
.health .book > a {
    text-align: center;
    font-size: 1.5rem;
}
.health .book img {
    width: 200px;
    border: 1px solid #ddd;
}

.yuilhan_wrap {
    width: 100%;
    padding-top: 40px;
    background: #ebedf2;
}
.yuilhan {
    width: 1400px;
    height: 350px;
    margin: 0 auto;
    position: relative;
    background: url('../images/dr_yu.gif') no-repeat 90%;
    background-size: contain;
}
.yuilhan > .btn {
    bottom: 40px;
    left: 50px;
    width: 120px;
    border: 1px solid #000;
}
.yuilhan > .btn a {
    color:#000;
}
.yuilhan .analects {
    position: absolute;
    top: 100px;
    left: 50px;
}
.analects > p {
    font-size: 1.8rem;
}
.analects > h1 {
    font-size: 2.4rem;
    margin-top: 10px;
}
.analects > p:last-of-type {
    font-size: 1.4rem;
}

@media all and (min-width: 768px) and (max-width: 1023px) {
    
}