@charset "utf-8";

.main {
    height: 820px;
    position: relative;
    overflow: hidden;
}
.main #videoBg {
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    z-index: -100;
}
.main .txt_box {
    position: absolute;
    top: 250px;
    left: 150px;
    text-shadow: 3px 3px 3px #000;
}
.main .txt_box h1 {
    color: #fff;
    font-size: 5.5rem;
}
.main .txt_box p {
    color: #fff;
    font-size: 1.8rem;
}

.content {
    width: 100%;
}
.content .category_wrap {
    width: 1400px;
    margin: 60px auto;
    display: flex;
    justify-content: space-around;
}
.category_wrap .category {
    display: flex;
}
.category_wrap .category > img {
    margin-right: 20px;
}
.category_wrap .category > h1 {
    align-self: center;
}
.category_wrap .category > h1::after {
    content: '';
    display: block;
    width: 40px;
    height: 3px;
    background: #008944;
    margin-top: 5px;
}

.content .notice_wrap {
    padding: 20px 0;
    background: #008944;
}
.notice_wrap .notice {
    width: 1400px;
    margin: 0 auto;
}
.notice > h1, p {
    display: inline-block;
    color: #fff;
}
.notice > p {
    margin-left: 20px;
    font-size: 1.5rem;
}