@charset "utf-8";

.sub_top_bg {
    width: 100%;
    height: 350px;
    padding-top: 200px;
    background: linear-gradient( rgba(0, 0, 0, .5), rgba(0, 0, 0, .5) ),
    url('../images/') no-repeat;
}

.sub_content {
    width: 1400px;
    margin: 0 auto;
}
/* 제품 목록 버튼 */
.sub_content .product_tap {
    margin-top: 40px;
    height: 300px;
    position: relative;
}
.product_tap > ul {
    overflow: hidden;
}
.product_tap > ul > li {
    float: left;
    background: #e9e9e9;
    margin-right: 5px;
}.product_tap > ul > li:nth-child(n+6) {
    margin-top: 5px;
}

/* 제품 대분류 */
.product_tap > ul > li > a {
    display: block;
    width: 275px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;
}
.product_tap > ul > li.tap_on {
    background: #008944;
}
.product_tap > ul > li.tap_on > a {
    color: #fff;
}
.product_tap > ul > li:hover {
    background: #008944;
}
.product_tap > ul > li:hover > a {
    color: #fff;
}

/* 제품 소분류 */
.product_tap .product_sub {
    width: 100%;
    background: #f9f9f9;
    position: absolute;
    top: 100px;
}
.product_sub > ul {
    overflow: hidden;
    padding: 20px;
}
.product_sub > ul > li {
    float: left;
    width: 25%;
    margin: 10px 0;
}
.product_sub > ul > li > a {
    font-size: 1.4rem;
}

/* 제품 목록 */
.product_item {
    width: 100%;
    margin-top: 60px;
}

@media screen and (max-width: 1440px) {
    .sub_content {
        width: 100%;
    }
    .sub_content > h2.tit {
        padding-left: 5%;
    }
}

@media screen and (max-width: 1023px) {
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 480px) {
}